@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


* {
    font-family: 'Irish grover';
}

body {
    background-image: url("img/fondo.mp4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 1%;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.content {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;
    padding-top: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
}

header h1 {
    color: pink;
    border-radius: 15%;
    display: flex;
    justify-content: center;
}

.titol {
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    color: rgb(240, 136, 216);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.titol:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px palevioletred, 0 0 70px palevioletred, 0 0 80px palevioletred, 0 0 100px palevioletred;
}

nav {
    display: flex;
    justify-content: flex-end;

}

nav a {
    color: pink;
    font-size: 75%;
    margin-right: 2em;
}

nav a:last-child {
    margin-right: 0;
}

.audio-controls {
    display: flex;
    align-items: center;
    margin: 20px 0;
    
}

audio {
    display: none;
}

.audio-controls button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: pink;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
}

.audio-controls button:hover {
    background-color: palevioletred;
}

#musica{
    width: 1.5em;
    height: 1.5em;
}

aside {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
}

aside li {
    color: pink;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.bmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    padding: 0;
    font-size: 16px;
    border: 4px ridge pink;
    background-color: #000000;
    color: pink;
    cursor: pointer;
    box-shadow: 0 0 7px 1px #FF1493, 0 0 7px 1px #FF1493, 0 0 7px 1px #FF1493, 0 0 7px 1px #FF1493;
    transition: transform 0.2s;
}

.bmenu:hover {
    background-color: palevioletred;
    transform: scale(1.05);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
}

footer h3 {
    color: pink;
    margin: 0;
}

/* Formulari afegir cançó */

.header2 {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.nav2 img {
    width: 20px;
    height: 20px;
}

.afegircan {
    background-color: rgba(0, 0, 0, 0.494);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
    border: 0.1em solid pink;
    border-radius: 1em;
    box-shadow: 0 0 7px 1px #FF1493, 0 0 7px 1px #FF1493, 0 0 7px 1px #FF1493, 0 0 7px 1px #FF1493;
}

.afegircan ul{
    padding: 0;
    margin: 0;
}

.afegircan ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: pink;
    text-align: center;
    list-style: none;
}

.afegircan input{
    display: flex;
    justify-content: center;
    align-items: center;
}

input, textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
    border: none;
    background: transparent;
    outline: none;
    padding: 1em;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.afegircan input[type="text"],
.afegircan input[type="file"],
.afegircan input[type="submit"] {
    background-color: #000000;
    width: 100%;
    margin: 1em;
    padding: 0.5em;
    border: 1px solid pink;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 7px 1px #FF1493, 0 0 7px 1px #FF1493, 0 0 7px 1px #FF1493, 0 0 7px 1px #FF1493;
}

.afegircan input[type="submit"] {
    cursor: pointer;
}